[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "pip install -r requirements.txt",
  "python -m spacy download en_core_web_sm"
]

[start]
cmd = "uvicorn chat.api:app --host 0.0.0.0 --port $PORT"